
<h1>Book your next island getaway</h1>

<div class="row">
  <% @islands.each do |island| %>
    <div  class="d-flex col-xl-3 col-lg-4 col-md-6 mb-3">
      <!-- Repeat the below column code for each listing -->
      <%= render 'card', island: island %>
      <!-- End of repeated column code -->
    </div>
  <% end %>
</div>
