<h1>Book your next island getaway</h1>

<div class="d-flex flex-row flex-wrap">
<% @islands.each do |island| %>
      <!-- Repeat the below column code for each listing -->
      <%= render 'card', island: island %>
      <!-- End of repeated column code -->
<% end %>
</div>
