<%# <footer class="bg-light mt-5"> %>
<footer class="bg">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <p>Made with ❤️ by Tan, Johan, Anthony & Shahnaz</p>
      </div>
    </div>
  </div>
</footer>
