<h1>Your booking is confirmed!</h1>
<h4>Details</h4>
<p>
Island <%= @booking.island.name %> is booked by <%= @booking.user.first_name %>
</p>
<p>
<%= link_to "All my bookings", users_bookings_path, class: "btn btn-primary" %>
</p>
