<h1>Booking information</h1>
<h2>Details</h2>
<p>
Island <%= @booking.island.name %> is booked by <%= @booking.user.first_name %>
</p>
<p>
<%= link_to "All my bookings", users_bookings_path, class: "btn btn-primary" %>
</p>
