
<div class="container">
  <div class="">
    <div class="navbar">
    "hello navbar"
    </div>

    <div class="grid">
    "hello grid display"
    </div>

    <div class="footer">
    "hello footer"
    </div>
  </div>
</div>
